@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");
.container-fluid {
  background-color: #fdfcdc;
  height: 80px; }
  .container-fluid .img-logo {
    padding-top: 50px;
    display: flex;
    align-items: flex-start; }
  .container-fluid #navbarSupportedContent {
    background-color: #fdfcdc;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    width: 50%;
    padding-left: 200px;
    margin-right: 50px; }
    .container-fluid #navbarSupportedContent ul li {
      display: flex;
      align-items: flex-end; }

#carouselExampleControls {
  padding-top: 50px;
  position: static; }

.content {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 250px 200px;
  height: 500px;
  grid-template-areas: "texto_m i_bf" "texto_v i_bf";
  column-gap: 100px;
  row-gap: 30px; }
  .content #first_div {
    grid-area: texto_m; }
  .content #second_div {
    grid-area: texto_v; }
  .content #imagen-bf {
    margin: auto;
    width: 100%;
    grid-area: i_bf; }
  .content #titulo-m {
    font-family: "Roboto", sans-serif;
    font-size: 35px;
    text-align: center;
    color: #00afb9; }
  .content #parrafo-m {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    justify-content: center;
    text-align: center;
    padding: 10px 10px;
    margin: 10px 10px; }
  .content #titulo-v {
    font-family: "Roboto", sans-serif;
    font-size: 35px;
    text-align: center;
    color: #00afb9; }
  .content #parrafo-v {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    justify-content: center;
    text-align: center;
    padding: 10px 10px;
    margin: 10px 10px; }

.div-novedades {
  background-color: #fdfcdc; }
  .div-novedades .titulo-novedades {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 35px;
    color: #00afb9;
    text-align: center;
    padding: 20px 10px;
    margin: 10px 10px;
    margin-bottom: 20px;
    width: 90%; }

#gato-comida {
  padding-top: 50px;
  padding-left: 100px;
  width: 80%;
  align-items: center;
  grid-area: gato-c;
  width: 100%; }

#contenido {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 100px 300px;
  height: 500px;
  grid-template-areas: "gato-c gato-c" "primero segundo"; }
  #contenido #first {
    grid-area: primero;
    display: inline-block;
    justify-content: space-between; }
    #contenido #first .select-h {
      font-family: "Roboto", sans-serif;
      font-size: 35px;
      text-align: center;
      color: #00afb9; }
    #contenido #first p {
      font-family: "Roboto", sans-serif;
      text-align: center;
      font-size: 16px;
      width: 80%;
      margin: 10px;
      padding: 20px; }
  #contenido #second {
    grid-area: segundo;
    display: inline-block;
    justify-content: space-between; }
    #contenido #second .titulo-marcas {
      font-family: "Roboto", sans-serif;
      font-size: 35px;
      text-align: center;
      color: #00afb9;
      width: 80%;
      padding-left: 5px;
      padding-top: 20px; }
    #contenido #second #tabla {
      background-color: #fdfcdc;
      margin-left: 20px;
      margin-top: 50px;
      padding-left: 5px;
      padding-top: 20px;
      align-items: center; }

.caniche-header {
  padding-top: 50px;
  padding-left: 100px;
  width: 80%;
  align-items: center;
  width: 100%; }

.titulo {
  color: #00afb9;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 35px;
  height: 20px;
  padding-left: 20px; }

.sector {
  padding-top: 20px;
  display: grid;
  grid-template-columns: repeat(3 1fr);
  grid-template-rows: 300px 300px;
  grid-template-areas: "mod-aa mod-bb mod-cc" "texto-aa texto-bb texto-cc"; }
  .sector #modelo_a {
    display: inline;
    margin-top: 20px;
    margin-left: 50px;
    padding-top: 5px;
    padding-left: 20px;
    width: 50%;
    grid-area: mod-aa; }
  .sector #modelo_b {
    display: inline;
    margin-top: 20px;
    margin-left: 50px;
    padding-top: 5px;
    padding-left: 5px;
    width: 80%;
    grid-area: mod-bb; }
  .sector #modelo_c {
    display: inline;
    margin-top: 20px;
    margin-left: 50px;
    padding-top: 5px;
    padding-left: 20px;
    width: 50%;
    grid-area: mod-cc; }
  .sector #mod_a {
    width: 50%;
    text-align: center;
    margin-top: 10px;
    margin-left: 20px;
    padding-top: 5px;
    padding-left: 50px;
    display: inline-flex;
    grid-area: texto-aa; }
  .sector #mod_b {
    width: 50%;
    text-align: center;
    margin-top: 10px;
    margin-left: 20px;
    padding-top: 5px;
    padding-left: 50px;
    display: inline-flex;
    grid-area: texto-bb; }
  .sector #mod_c {
    width: 50%;
    text-align: center;
    margin-top: 10px;
    margin-left: 20px;
    padding-top: 5px;
    padding-left: 50px;
    display: inline-flex;
    grid-area: texto-cc; }

.img-perro {
  display: inline;
  justify-items: center;
  width: 80%; }

#padre-cuchas {
  display: grid;
  justify-content: center;
  width: 100%; }
  #padre-cuchas #item-cuchas {
    display: grid;
    grid-template-columns: 30% 30% 30%;
    grid-template-rows: 200px 30px;
    grid-template-areas: "cucha-a cucha-b cucha-c" "text-a tex-b text-c";
    justify-items: center; }
  #padre-cuchas .model_titulo {
    color: #00afb9;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 35px;
    flex-direction: row;
    height: 20px;
    margin: 10px; }
  #padre-cuchas .img_a {
    width: 80%;
    text-align: center;
    margin-top: 10px;
    margin-left: 20px;
    padding-top: 5px;
    padding-left: 50px;
    display: inline;
    grid-area: cucha-a; }
  #padre-cuchas .img_b {
    width: 80%;
    text-align: center;
    margin-left: 20px;
    padding-left: 50px;
    display: inline;
    grid-area: cucha-b; }
  #padre-cuchas .img_c {
    width: 80%;
    text-align: center;
    margin-left: 20px;
    padding-left: 50px;
    display: inline;
    grid-area: cucha-c; }
  #padre-cuchas #ph_a {
    padding: 5px;
    width: 50%;
    text-align: center;
    grid-area: text-a;
    display: inline; }
  #padre-cuchas #ph_b {
    text-align: center;
    grid-area: text-b;
    display: inline; }
  #padre-cuchas #ph_c {
    text-align: center;
    grid-area: text-c;
    display: inline; }

#info_contact {
  background-color: #f07167;
  margin-top: 100px;
  padding: 5px;
  justify-content: center; }
  #info_contact h1 {
    color: #fdfcdc;
    font-family: "Roboto", sans-serif;
    font-size: 35px;
    padding-top: 20px;
    margin: 5px; }
  #info_contact #nro_publico {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    text-align: center;
    margin: 10px;
    padding: 20px;
    display: inline-flex;
    color: #fdfcdc; }
  #info_contact #nro_whp {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    text-align: center;
    margin: 10px;
    padding-top: 20px;
    padding-left: 50px;
    display: inline-flex;
    color: #fdfcdc; }
  #info_contact #horarios {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    width: 20%;
    text-align: center;
    margin: 10px;
    padding-left: 50px;
    padding-top: 20px;
    display: inline-flex;
    color: #fdfcdc; }

#gran-contenedor {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 200px;
  grid-template-areas: "pri-cuadro seg-cuadro"; }
  #gran-contenedor #cuadros {
    position: static;
    align-content: center;
    grid-area: pri-cuadro;
    padding: 10px 15px; }
    #gran-contenedor #cuadros h2 {
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      color: #00afb9;
      font-size: 35px;
      margin: 5px 20px;
      padding: 5px 20px;
      align-content: center; }
  #gran-contenedor #cuadros-seg {
    grid-area: seg-cuadro;
    align-content: flex-end; }
    #gran-contenedor #cuadros-seg h2 {
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      color: #00afb9;
      font-size: 35px;
      margin: 5px 20px;
      padding-left: 200px;
      align-content: center; }
      #gran-contenedor #cuadros-seg h2 iframe {
        margin: 5px 20px;
        align-content: center;
        position: absolute; }

#pie {
  width: 100%;
  background-color: #f07167;
  color: #fdfcdc;
  height: 100px;
  padding-left: 20px; }
  #pie #l_f {
    display: inline;
    justify-content: space-between;
    margin-left: 10px; }
  #pie #l_i {
    display: inline;
    justify-content: space-between;
    margin-left: 10px; }
  #pie #l_l {
    display: inline;
    justify-content: space-between;
    margin-left: 10px; }
  #pie #pie p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    display: inline-block;
    align-items: flex-end;
    padding: 10px 300px;
    margin-left: 100px; }
