@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");
.btn-more, .btn-rounded {
  width: 100px;
  height: 30px;
  background: linear-gradient(to top, violet, deepink);
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black; }

.btn-rounded {
  border-radius: 4px; }

#navbarSupportedContent {
  background-color: #fdfcdc;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
  width: 100%;
  padding-left: 200px;
  align-items: flex-end;
  margin-right: 100px; }
  #navbarSupportedContent ul li {
    display: flex;
    align-items: flex-end; }

.content {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 250px 200px;
  height: 500px;
  grid-template-areas: "texto_m i_bf"
 "texto_v i_bf";
  column-gap: 100px;
  row-gap: 30px; }
  .content #first_div {
    grid-area: texto_m; }
  .content #second_div {
    grid-area: texto_v; }
  .content #imagen-bf {
    margin: auto;
    width: 100%;
    grid-area: i_bf; }
  .content #titulo-m {
    font-family: "Roboto", sans-serif;
    font-size: 35px;
    color: #00afb9;
    text-align: center;
    padding: 10px 10px;
    margin: 10px 10px;
    width: 90%; }
  .content #parrafo-m {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    justify-content: center;
    text-align: center;
    padding: 10px 10px;
    margin: 10px 10px; }
  .content #titulo-v {
    font-family: "Roboto", sans-serif;
    font-size: 35px;
    color: #00afb9;
    text-align: center;
    padding-top: 20px;
    padding: 10px 10px;
    margin: 10px 10px;
    width: 90%; }
  .content #parrafo-v {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    justify-content: center;
    text-align: center;
    padding: 10px 10px;
    margin: 10px 10px; }

.div-novedades {
  background-color: #fdfcdc; }
  .div-novedades .titulo-novedades {
    font-family: "Roboto", sans-serif;
    font-size: 35px;
    color: #00afb9;
    text-align: center;
    padding: 20px 10px;
    margin: 10px 10px;
    margin-bottom: 20px;
    width: 90%; }

#pie {
  width: 100%;
  background-color: #f07167;
  margin: 5px 10px;
  padding: 1px 10px;
  align-items: center;
  color: #fdfcdc;
  grid-area: pie-b; }
  #pie #l_f {
    display: inline;
    justify-content: space-between;
    margin-left: 10px; }
  #pie #l_i {
    display: inline;
    justify-content: space-between;
    margin-left: 10px; }
  #pie #l_l {
    display: inline;
    justify-content: space-between;
    margin-left: 10px; }
  #pie #pie p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    display: inline-block;
    align-items: flex-end;
    padding: 10px 300px;
    margin-left: 100px; }
