@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");
.container-fluid {
  background-color: #fdfcdc;
  height: 80px; }
  .container-fluid .img-logo {
    padding-top: 50px;
    display: flex;
    align-items: flex-start; }
  .container-fluid #navbarSupportedContent {
    background-color: #fdfcdc;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    width: 50%;
    padding-left: 200px;
    margin-right: 50px; }
    .container-fluid #navbarSupportedContent ul li {
      display: flex;
      align-items: flex-end; }

#carouselExampleControls {
  padding-top: 50px;
  position: static; }

.content {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 250px 200px;
  height: 500px;
  grid-template-areas: "texto_m i_bf" "texto_v i_bf";
  column-gap: 100px;
  row-gap: 30px; }
  .content #first_div {
    grid-area: texto_m; }
  .content #second_div {
    grid-area: texto_v; }
  .content #imagen-bf {
    margin: auto;
    width: 100%;
    grid-area: i_bf; }
  .content #titulo-m {
    font-family: "Roboto", sans-serif;
    font-size: 35px;
    text-align: center;
    color: #00afb9; }
  .content #parrafo-m {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    justify-content: center;
    text-align: center;
    padding: 10px 10px;
    margin: 10px 10px; }
  .content #titulo-v {
    font-family: "Roboto", sans-serif;
    font-size: 35px;
    text-align: center;
    color: #00afb9; }
  .content #parrafo-v {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    justify-content: center;
    text-align: center;
    padding: 10px 10px;
    margin: 10px 10px; }

.div-novedades {
  background-color: #fdfcdc; }
  .div-novedades .titulo-novedades {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 35px;
    color: #00afb9;
    text-align: center;
    padding: 20px 10px;
    margin: 10px 10px;
    margin-bottom: 20px;
    width: 90%; }

#pie {
  width: 100%;
  background-color: #f07167;
  align-items: center;
  color: #fdfcdc;
  height: 100px;
  padding-left: 20px; }
  #pie #l_f {
    display: inline;
    justify-content: space-between;
    margin-left: 10px; }
  #pie #l_i {
    display: inline;
    justify-content: space-between;
    margin-left: 10px; }
  #pie #l_l {
    display: inline;
    justify-content: space-between;
    margin-left: 10px; }
  #pie #pie p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    display: inline-block;
    align-items: flex-end;
    padding: 10px 300px;
    margin-left: 100px; }
