// size
$heightSm: 20px; 
$heightMd: 80px;
$heightLg: 100px;
$heightXl: 200px;

// padding
$paddSm: 5px;
$paddMd: 20px;
$paddLg: 50px;
$paddXl: 100px;

// width
$widthSm: 20%;
$widthMd: 50%;
$widthLg: 80%;
$widthXl: 100%;

// margin
$marginSm: 5px;
$marginMd: 10px;
$marginLg: 20px;
$marginXl: 50px;
$margiXXl: 100px;
