@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap'); 

// fonts
$mainFont: Verdana, Geneva, Tahoma, sans-serif;
$secondaryFont: 'Roboto', sans-serif;

// text sizing
$textSm: 15px; 
$textMd: 16px;
$textLg: 20px;
$textXl: 35px;

// font - weight
$bold: 600;
$regular: 400;
$light: 300;



