#pie {
    width: 100%;
    background-color:$thirdColor;
    margin: 5px 10px;
    padding: 1px 10px;
    align-items: center;
    color: $mainColor;
    grid-area: pie-b;

    #l_f {
        display: inline;
        justify-content: space-between;
        margin-left: 10px;
     
       }
    
    #l_i{
        display: inline;
        justify-content: space-between;
        margin-left: 10px;
     
       } 
     
    #l_l{
        display: inline;
        justify-content: space-between;
       margin-left: 10px;
     
       } 
     
    #pie p {
        font-family:$mainFont ;
        font-size:$textSm ;
        display: inline-block;
        align-items: flex-end;
        padding: 10px 300px; 
        margin-left: 100px;    
       }
  
}

  

  