#gato-comida{
    padding-top: $paddLg ;
    padding-left: $paddXl;
    width: $widthLg;
    align-items: center;
    grid-area: gato-c;
    width: 100%;
  
}

#contenido {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100px 300px;
    height: 500px;
    grid-template-areas: 
    "gato-c gato-c"
    "primero segundo";

    #first{
        grid-area: primero;
        display: inline-block;
        justify-content: space-between;

        .select-h {
            font-family: $secondaryFont;
            font-size: $textXl;
            text-align: center;
            color: $secondaryColor;
        }
        p {
            font-family: $secondaryFont;
            text-align: center;
            font-size: 16px;
            width: $widthLg;
            margin: $marginMd ;
            padding: $paddMd ;
            }

       }
    
    #second{
        grid-area: segundo;
        display: inline-block;
        justify-content: space-between;

      .titulo-marcas {
        font-family: $secondaryFont;
        font-size: $textXl;
        text-align: center;
        color: $secondaryColor;
        width:$widthLg;
        padding-left:$paddSm ;
        padding-top: $paddMd ;    
        }

      #tabla {
        background-color:$mainColor;
        margin-left:$marginLg ;
        margin-top:$marginXl ;
        padding-left:$paddSm ;
        padding-top:$paddMd ;
        align-items: center; 
        }
       }


  }

.caniche-header  {
    padding-top: $paddLg ;
    padding-left: $paddXl;
    width: $widthLg;
    align-items: center;
    width: 100%;
}

.titulo{
    color: $secondaryColor;
    font-family: $mainFont;
    font-size:$textXl;
    height: $heightSm;
    padding-left: $paddMd;
    
  
  }
  
.sector {
    padding-top: $paddMd;
    display: grid;
    grid-template-columns: repeat(3 1fr) ;
    grid-template-rows: 300px 300px ;
    grid-template-areas: 
    "mod-aa mod-bb mod-cc"
    "texto-aa texto-bb texto-cc";

   #modelo_a {
    display: inline; 
    margin-top:$marginLg ;
    margin-left:$marginXl ;
    padding-top: $paddSm;
    padding-left: $paddMd;
    width: $widthMd;
    grid-area: mod-aa;
  }

  #modelo_b {
    display: inline; 
    margin-top:$marginLg ;
    margin-left:$marginXl ;
    padding-top: $paddSm;
    padding-left: $paddSm;
    width: $widthLg;
    grid-area: mod-bb;

  }

  #modelo_c {
    display: inline; 
    margin-top:$marginLg ;
    margin-left:$marginXl ;
    padding-top: $paddSm;
    padding-left: $paddMd;
    width: $widthMd;
    grid-area: mod-cc;

  }

  #mod_a {
    width: $widthMd;
    text-align: center;
    margin-top: $marginMd ;
    margin-left: $marginLg ;
    padding-top: $paddSm ;
    padding-left: $paddLg ;
    display: inline-flex; 
    grid-area: texto-aa;

  }

  #mod_b {
    width: $widthMd;
    text-align: center;
    margin-top: $marginMd ;
    margin-left: $marginLg ;
    padding-top: $paddSm ;
    padding-left: $paddLg ;
    display: inline-flex; 
    grid-area: texto-bb;

  }

  #mod_c {
    width: $widthMd;
    text-align: center;
    margin-top: $marginMd ;
    margin-left: $marginLg ;
    padding-top: $paddSm ;
    padding-left: $paddLg ;
    display: inline-flex; 
    grid-area: texto-cc;

  }
  
  } 

.img-perro{
    display: inline;
    justify-items: center;
    width: 100%;
  }
  
#padre-cuchas{
    display: grid;
    justify-content: center;
    width: 80%;
    height: 70%;

    #item-cuchas {
        display: grid;
        grid-template-columns: 30% 30% 30%;
        grid-template-rows: 200px 30px;
        grid-template-areas: 
        "cucha-a cucha-b cucha-c"
        "text-a tex-b text-c";
        justify-items: center;
      
      
      }
      
      .model_titulo {
          color: rgb(0, 175, 185);
          font-family: Verdana, Geneva, Tahoma, sans-serif;
          font-size: 25px;
          flex-direction: row;
          height: 30px;
          margin: 10px 2px;
          padding: 0px 2px;
          
      }
      
        .img_a {
            width: $widthLg;
            text-align: center;
            margin-top: $marginMd ;
            margin-left: $marginLg ;
            padding-top: $paddSm ;
            padding-left: $paddLg ;
            display: inline; 
            grid-area: cucha-a;
      
      
         }
      
        .img_b {
         width: $widthLg;
         text-align: center;
         margin-left: $marginLg ;
         padding-left: $paddLg ;
         display: inline; 
         grid-area: cucha-b;
         
      
         }
      
        .img_c {
         width: $widthLg;
         text-align: center;
         margin-left: $marginLg ;
         padding-left: $paddLg ;
         display: inline; 
         grid-area: cucha-c;
          
          
         }
        
        
        #ph_a {
          padding: $paddSm;
          width: $widthMd;
          text-align: center;
          grid-area: text-a;
          display: inline; 
      
         }
      
        #ph_b {       
          text-align: center;
          grid-area: text-b;
          display: inline;
      
        }
      
        #ph_c {     
         text-align: center;
         grid-area: text-c;
         display: inline;
      
         }
  }

#info_contact {
     
    background-color: rgb(240, 113, 103);
    margin: 100px 0px;
    padding: 5px 10px;
    height:30% ;
    justify-content: center;

    h1 {
        color: rgb(253, 252, 220);
        font-family: 'Roboto', sans-serif;
        font-size: 35px;
        padding: 0px 20px;
        margin: 5px 5px;
    }
    #nro_publico {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 18px;
        width: 15%;
        text-align: center;
        margin: 10px 10px;
        padding: 10px 30px;
        display: inline-flex;
        color: rgb(253, 252, 220)
    
    }
    #nro_whp {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 18px;
        width: 15%;
        text-align: center;
        margin: 10px 10px;
        padding: 10px 80px;
        display: inline-flex;
        color: rgb(253, 252, 220)
        
    }
    #horarios{
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 18px;
        width: 22%;
        text-align: center;
        margin: 10px 10px;
        padding: 10px 80px;
        display: inline-flex;
        color: rgb(253, 252, 220)
    
    }
}


#gran-contenedor{
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 200px ;
  grid-template-areas: 
  "pri-cuadro seg-cuadro";

  #cuadros{
    position: static;
    align-content: center;
    grid-area: pri-cuadro;
    width: 100%;
    padding: 10px 15px;
    

    h2 { 
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        color: rgb(0, 175, 185);
        font-size: 30px;
        margin: 5px 20px;
        padding: 5px 20px;
        align-content: center; 
    
    }
  }
  #cuadros-seg{
    grid-area: seg-cuadro;
    align-content: flex-end;
    
    h2 {
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      color: rgb(0, 175, 185);
      font-size: 30px;
      margin: 5px 20px;
      padding-left: 200px;
      align-content: center;
  
    iframe {
      margin: 5px 20px;
      width: 100%;
      align-content: center;
      padding: 200px;
      
       }
   
   }
  
  }
  

}







  
  


  
   