#gato-comida{
    padding-top: $paddLg ;
    padding-left: $paddXl;
    width: $widthLg;
    align-items: center;
    grid-area: gato-c;
    width: 100%;
  
}

#contenido {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100px 300px;
    height: 500px;
    grid-template-areas: 
    "gato-c gato-c"
    "primero segundo";

    #first{
        grid-area: primero;
        display: inline-block;
        justify-content: space-between;

        .select-h {
            font-family: $secondaryFont;
            font-size: $textXl;
            text-align: center;
            color: $secondaryColor;
        }
        p {
            font-family: $secondaryFont;
            text-align: center;
            font-size: 16px;
            width: $widthLg;
            margin: $marginMd ;
            padding: $paddMd ;
            }

       }
    
    #second{
        grid-area: segundo;
        display: inline-block;
        justify-content: space-between;

      .titulo-marcas {
        font-family: $secondaryFont;
        font-size: $textXl;
        text-align: center;
        color: $secondaryColor;
        width:$widthLg;
        padding-left:$paddSm ;
        padding-top: $paddMd ;    
        }

      #tabla {
        background-color:$mainColor;
        margin-left:$marginLg ;
        margin-top:$marginXl ;
        padding-left:$paddSm ;
        padding-top:$paddMd ;
        align-items: center; 
        }
       }


  }

.caniche-header  {
    padding-top: $paddLg ;
    padding-left: $paddXl;
    width: $widthLg;
    align-items: center;
    width: 100%;
}

.titulo{
    color: $secondaryColor;
    font-family: $mainFont;
    font-size:$textXl;
    height: $heightSm;
    padding-left: $paddMd;
  
  }
  
.sector {
    display: grid;
    grid-template-columns: repeat(3 1fr) ;
    grid-template-rows: 300px 300px ;
    grid-template-areas: 
    "mod-aa mod-bb mod-cc"
    "texto-aa texto-bb texto-cc";

   #modelo_a {
    display: inline; 
    margin-top:$marginLg ;
    margin-left:$marginXl ;
    padding-top: $paddSm;
    padding-left: $paddMd;
    width: $widthMd;
    grid-area: mod-aa;
  }

  #modelo_b {
    display: inline; 
    margin-top:$marginLg ;
    margin-left:$marginXl ;
    padding-top: $paddSm;
    padding-left: $paddMd;
    width: $widthMd;
    grid-area: mod-bb;

  }

  #modelo_c {
    display: inline; 
    margin-top:$marginLg ;
    margin-left:$marginXl ;
    padding-top: $paddSm;
    padding-left: $paddMd;
    width: $widthMd;
    grid-area: mod-cc;

  }

  #mod_a {
    width: $widthMd;
    text-align: center;
    margin-top: $marginMd ;
    margin-left: $marginLg ;
    padding-top: $paddSm ;
    padding-left: $paddLg ;
    display: inline-flex; 
    grid-area: texto-aa;

  }

  #mod_b {
    width: $widthMd;
    text-align: center;
    margin-top: $marginMd ;
    margin-left: $marginLg ;
    padding-top: $paddSm ;
    padding-left: $paddLg ;
    display: inline-flex; 
    grid-area: texto-bb;

  }

  #mod_c {
    width: $widthMd;
    text-align: center;
    margin-top: $marginMd ;
    margin-left: $marginLg ;
    padding-top: $paddSm ;
    padding-left: $paddLg ;
    display: inline-flex; 
    grid-area: texto-cc;

  }
  
  } 

.img-perro{
    display: inline;
    justify-items: center;
    width: 100%;
  }
  
#padre-cuchas{
    display: grid;
    justify-content: center;
    width: 80%;
    height: 70%;

    #item-cuchas {
        display: grid;
        grid-template-columns: 30% 30% 30%;
        grid-template-rows: 200px 10px;
        grid-template-areas: 
        "cucha-a cucha-b cucha-c"
        "text-a tex-b text-c";
        justify-items: center;
      
      
      }
      
      .model_titulo {
          color: rgb(0, 175, 185);
          font-family: Verdana, Geneva, Tahoma, sans-serif;
          font-size: 25px;
          flex-direction: row;
          height: 30px;
          margin: 10px 2px;
          padding: 0px 2px;
          
      }
      
        .img_a {
          width: 60%;
          padding-top: 20px;
          grid-area: cucha-a;
          display: inline-flex;
      
         }
      
        .img_b {
          width: 60%;
          padding-top: 20px;
          grid-area: cucha-b;
          display: inline-flex;
      
         }
      
        .img_c {
          width: 60%;
          padding-top: 20px;
          grid-area: cucha-c;
          display: inline-flex;
          
         }
        
        
        #ph_a {
          width: 50%;
          text-align: center;
          padding: 20px 20px;
          grid-area: text-a;
          display: inline; 
          
      
      
         }
      
        #ph_b {
          width: 50%;
          text-align: center; 
          padding: 20px 80px;
          grid-area: text-b;
          display: inline-flex;
      
        }
      
        #ph_c { 
          width: 50%;
          text-align: center;
          margin: 10px 20px;
          padding: 20px 80px;
          grid-area: text-c;
          display: inline-flex;
      
         }
  }
  
  


  
   