<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="../imagenes/ps_logo-08.ico">
    <title>Pet shop</title>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
</head>

<body>
    <!-- inicio nav -->
    <nav class="navbar navbar-expand-lg bg-light">
            <div class="container-fluid">
             <a hhref="../index.html"></a>
              <img src="../imagenes/logo-06-06-08.png" alt="logo"> </a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page"  href="../index.html">Home</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="alimento.html">Alimento</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link " href="cuchas.html">Cuchas</a>
                 <li class="nav-item">
                    <a class="nav-link" href="indumentaria.html">Indumentaria</a>
                 <li class="nav-item">
                    <a class="nav-link" href="contacto.html">Contacto</a>
              </div>
            </div>
       </nav>
        <!-- fin nav -->
    <header>
        <img src="../imagenes/G1.jpg" alt="gato comiendo" id="gato-comida">
        <div>
            <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="../index.html">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">Alimento</li>
              </ol>
            </nav>
        </div>
    </header>

    <main id="contenido">
        
     <div id="first">
        <h1>Seleccion de primera calidad</h1>
        <p>
            Brindamos el mejor servicio para tus mascotas. Nos importa la calidad de vida de tus perros y gatos, es por
            eso que tomamos el compromiso de brindarte los mejores productos, teniendo en cuenta las distintas
            necesidades de tu mascota.
            Elegimos las mejores marcas para brindarte calidad y seguridad para que tu mascota se alimente con la mejor
            seleccion.
        </p>
     </div>     
     <section id="second">
        <h2>Marcas</h2>
        <table border="1px" id="tabla">
            <tr>
                    <th>Marca</th>
                    <th>Cantidad</th>
                    <th>Precio</th>
                </tr>
                <tr>
                    <td>
                        <img src="../imagenes/r_canin.png" alt="royal_canin">
                    </td>
                    <td>20 kg</td>
                    <td> $ 10000</td>
                </tr>
                <tr>
                    <td>
                        <img src="../imagenes/sabrositos.png" alt="sabrositos_logo">
                    </td>
                    <td>25 kg </td>
                    <td> $3000 </td>
                </tr>
                <tr>
                    <td>
                        <img src="../imagenes/whiskas1.png" alt="whiskas_logo">
                    </td>
                    <td> 10 kg </td>
                    <td> $4000 </td>
                </tr>
            </table>
        </section>
    </main>
    <footer id="pie">
        <h3>seguinos en las redes</h3>
        <a href="https://m.facebook.com/login/?locale=es_ES">
            <img src="../imagenes/f_logo-06.png" alt="facebook_logo">
        </a>
        <a href="https://www.instagram.com">
            <img src="../imagenes/i_logo-06.png" alt="instagram_logo">
        </a>
        <img src="../imagenes/logos-06.png" alt="logos">
        <p>
            Patitas y ocicos ©. 2022. Todos los derechos reservados
        </p>

    </footer>
    <script src="../js/bootstrap.min.js"></script>
</body>

</html>