<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="../imagenes/ps_logo-08.ico">
    <link rel="stylesheet" href="../css/style.css">
    <title>Pet shop</title>
    <link rel="stylesheet" href="../css/bootstrap.min.css">
</head>

<body>
    
    <nav class="navbar navbar-expand-lg bg-light">
        <div class="container-fluid">
         <a hhref="../index.html"></a>
          <img src="../imagenes/logo-06-06-08.png" alt="logo"> </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page"  href="../index.html">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="alimento.html">Alimento</a>
              </li>
              <li class="nav-item">
                <a class="nav-link " href="cuchas.html">Cuchas</a>
             <li class="nav-item">
                <a class="nav-link" href="indumentaria.html">Indumentaria</a>
             <li class="nav-item">
                <a class="nav-link" href="contacto.html">Contacto</a>
          </div>
        </div>
   </nav>
    <header>
        <img src="../imagenes/perro durmiendo-08.png" alt="perro-durmiendo" class="img-perro">
        <div>
          <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="../index.html">Home</a></li>
              <li class="breadcrumb-item active" aria-current="page">Cuchas</li>
            </ol>
          </nav>
      </div>
    </header>

    <main id="padre-cuchas">
       <div class="div-modelos-c">
        <h1 class="model_titulo"> Modelos</h1>
       </div>
        <section id="item-cuchas">
            <img src="../imagenes/cucha1-08.png" alt="cucha azul para perro" class="img_a">
            <img src="../imagenes/cucha2-08.png" alt="cucha redonda blanca" class="img_b">
            <img src="../imagenes/cucha23-08.png" alt="cucha marron" class="img_c">
                    
            <p id="ph_a">Cama Cucha Moisés Perros Gatos 53 X 43 cm </p>
            <p id="ph_b">Cucha Cama Para Gatos Perros Chico Dog It 35 X 40 cm</p>
            <p id="ph_c">Cama Cucha Moisés Perros Gatos 53 X 43 cm </p>
        </section>
    </main>
    <footer id="pie">
        <h3>seguinos en las redes</h3>
        <a href="https://m.facebook.com/login/?locale=es_ES">
            <img src="../imagenes/f_logo-06.png" alt="facebook_logo">
        </a>
        <a href="https://www.instagram.com">
            <img src="../imagenes/i_logo-06.png" alt="instagram_logo">
        </a>
        <img src="../imagenes/logos-06.png" alt="logos">
        <p>
            Patitas y ocicos ©. 2022. Todos los derechos reservados
        </p>

    </footer>
    <script src="../js/bootstrap.min.js"></script>
</body>

</html>