<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="../imagenes/ps_logo-08.ico">
    <link rel="stylesheet" href="../css/style.css">
    <title>Pet shop</title>
    <link rel="stylesheet" href="../css/bootstrap.min.css">

</head>

<body>
    <nav class="navbar navbar-expand-lg bg-light">
            <div class="container-fluid">
             <a hhref="../index.html"></a>
              <img src="../imagenes/logo-06-06-08.png" alt="logo"> </a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page"  href="../index.html">Home</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="alimento.html">Alimento</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link " href="cuchas.html">Cuchas</a>
                 <li class="nav-item">
                    <a class="nav-link" href="indumentaria.html">Indumentaria</a>
                 <li class="nav-item">
                    <a class="nav-link" href="contacto.html">Contacto</a>
              </div>
            </div>
       </nav>
    <header>
        <img src="../imagenes/caniche-08.png" alt="caniche con ropa" class="caniche-header">
    </header>
    <div>
      <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="../index.html">Home</a></li>
          <li class="breadcrumb-item active" aria-current="page">Indumentaria</li>
        </ol>
      </nav>
  </div>

    <main>
      <div class="div-modelos-i">
        <h1 class="titulo">Modelos</h1>
      </div>
        <section class="sector">
            <img src="../imagenes/ropa1.1-08.png" alt="perro fachero" id="modelo_a">
            <img src="../imagenes/buzo_bulldog-08.png" alt="bulldog fachero" id="modelo_b">
            <img src="../imagenes/chaleco_pug-08.png" alt="pug con chaleco" id="modelo_c">
            
            <p id="mod_a">Chaleco Buzo Cali Ropa Perros Cachorros Mascotas</p>
            <p id="mod_b">Buzo Hoodie Senior Jack</p>
            <p id="mod_c">Chaleco Inflable Con Capucha Desmontable Para Perros</p>
        </section>
    </main>
    <footer id="pie">
        <h3>seguinos en las redes</h3>
        <a href="https://m.facebook.com/login/?locale=es_ES">
            <img src="../imagenes/f_logo-06.png" alt="facebook_logo">
        </a>
        <a href="https://www.instagram.com">
            <img src="../imagenes/i_logo-06.png" alt="instagram_logo">
        </a>
        <img src="../imagenes/logos-06.png" alt="logos">
        <p>
            Patitas y ocicos ©. 2022. Todos los derechos reservados
        </p>

    </footer>
    <script src="../js/bootstrap.min.js"></script>
</body>

</html>